body{

   height: 1140px;
  background-image: url(images/contact1.jpg);}
nav {
   width: 2000px;
   height: 160px;
   background-color: antiquewhite;
}

nav .logo img {
   width: 300px;
   height: 180px;
   position: absolute;
   top: 0px;

}

#table {

   width: 100%;
   height: 30px;
   text-indent: 50px;
   text-align: center;



}

#table ul {
   list-style-type: none;

}

#table ul li {
   display: inline-block;
   margin-left: 0px;
   margin-right: 0px;
   font-size: 25px;
   position: relative;
   top:100px;
   left: 200px;




}



#table ul li a {
   text-decoration: none;
   /*underline hataucha*/
   color: black;
   font-size: 30px;
   font-weight: 900;
   position: relative;
   left:0px;
   text-shadow: 1px 1px 2px black, 0 0 10px purple, 0 0 5px yellow;
}

#table ul li a:hover {

   transition-duration: 0.5s;
   border-bottom:6px solid purple;
   border-radius:10px;
}
#para{
   font-size:80px;
   font-style: normal;
   color:black;
  text-decoration: underline;}


.heading{
   color:black;
   font-size: 50px;
   position: relative;
   left:860px;
 
   width:300px;
   height:100px;
  } 
.heading:hover{
  color:red;
  
  }
  footer{
  
   width:2000px;
   height:500px;
   text-indent:50px;
   text-align:center;
   background-color: grey ;
   position:absolute;
   bottom:0px;
   top:2200px;
   opacity:0.7;
   

   
   

}
.list ul{
   list-style-type:none;
}
.list ul li{
   display:flex;
   font-size: 20px;
}
.list ul li a{
   text-decoration: none;
   padding-top:50px;
   color: white;
}

.para p{
   font-size:30px;
   color: #fff;
   position: relative;
   top: -300px;
   left: 500px;

}

.para ul li{
   display:inline-block;
}
.para ul li a img{
   width:20px;
   height:20px;
   position:relative;
   top:-320px;
   left:450px;
   


}
.para1 p{
   font-size:30px;
   color: #fff;
   position: relative;
   top: -300px;
   left: 500px;

}

.para1 ul li{
   display:inline-block;
}
.para1 ul li a img{
   width:50px;
   height:50px;
   position:relative;
   top:-300px;
   left:490px;
   opacity: 0.5;
   


}
#border{
   position: relative;
   top:-720px;
   left: 480px;
}
#border h1{
   color: white;
}
#border p{
   color:white;
}

#call p{
   position: relative;
   top:-400px;
}
#last p{
   position: relative;
   top:-800px;
   color: #fff;
   left:-50px;
}
#line{
   width:2000px;
   height:1140px;
   background-color:white;
   border: 2px solid black;
  background-image: url(images/about\ us.jpg);
  background-size: cover;

}
#line p{
   font-weight: bold;
   color:black;
   
}
.second{
   position:relative;
   left:670px;
   top:-1145px;
}
.second p{
   font-weight: bold;
   color:blue;
   
}
.third{
   
   position: relative;
   left:1350px;
   top:-1400px;
}
.third p{
   font-weight: bold;
   color:green;
   
}
.row{
   position:absolute;
   top:650px;
   background-color: black;
   width: 295px;
   
}
.row tr th{
   color: white;
}
.row tr td{
   color: white;
}
.row1{
   position:absolute;
   top:650px;
   background-color:blue;
   width: 295px;
   left: 800px;;
   
}
.row1 tr th{
   color: white;
}
.row1 tr td{
   color: white;
}
.row2{
   position:absolute;
   top:650px;
   background-color:green;
   width: 295px;
   left:1500px;
   
}
.row2 tr th{
   color: white;
}
.row2 tr td{
   color: white;
}
#image{
   position:absolute;
   top:1460px;
}
#image img{
   width:700px;
   height:500px;
}
#image1{
   position:absolute;
   top:0px;
   left:800px;
   top:1460px;

}
#image1 img{
   width: 700px;
   height: 500px;;
}
#image2{
   position:absolute;
   top:0px;
   left:1600px;
   top:1460px;}
#image2 img{
   width:400px;
   height: 500px;
}
.analy p{
   color:red;
   font-size:20px;
   font-weight: bold;

}
.analy1{
   position:absolute;
   top:1950px;
   left:800px;

}
.analy1 p{
   color:red;
   font-size:20px;
   font-weight: bold;

}
.analy2{
   position:absolute;
   top:1950px;
   left:1600px;

}
.analy2 p{
   color:red;
   font-size:20px;
   font-weight: bold;

}


