body {
    width:100%;
    height:1140px;
    background-image:url(images/back.jpg);
    background-size:cover;
}

nav {
    width: 2000px;
    height: 160px;
    position: relative;
    top:100px;  
   
   
}

nav .logo img {
    width: 300px;
    height: 160px;
    position:absolute;
    top: -100px;

}

#table {

    width: 100%;
    height: 30px;
    text-indent: 50px;
    text-align: center;



}

#table ul {
    list-style-type: none;

}

#table ul li {
    display: inline-block;
    margin-left: 0px;
    margin-right: px;
    font-size: 25px;
    position: relative;
    top: 0px;
    left: 320px;
    




}



#table ul li a {
    text-decoration: none;
    /*underline hataucha*/
    color: white;
    font-size: 30px;
    font-weight: 900;
    position: relative;
    right: 0px;
    text-shadow: 1px 1px 2px black, 0 0 10px purple, 0 0 5px yellow;
   

}

#table ul li a:hover {

    transition-duration: 0.5s;
   border-bottom:6px solid purple;
   border-radius: 10px;
}

.coloumn {
    background-image: url(images/store.jpg);
    background-color:#fff;
    width: 500px;
    height: 300px;
    ;
    position: relative;
    left: 40px;
    top: 150px;
    border-radius: 8px;
    border: 2px solid black;
}

.coloumn h1 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    color: black;
}
.coloumn p{
    position:absolute;
    left:250px;
    top: 10px;
    color: black;
    font-weight: bold;
}
.coloumn p img{
    position: relative;
    left: 0px;
    width:100px;
}
.coloumn img {
    opacity:1;
}

.coloumn img:hover {
    opacity:0.7;
}

.coloumn1 {
    background-image: url(images/store.jpg);
    background-color: white;
    width: 500px;
    height: 300px;
    position: relative;
    left: 40px;
    top: 160px;
    border-radius: 8px;
    border: 2px solid black;
}
.coloumn1 p{
    position:absolute;
    left:250px;
    top: 10px;
    color: black;
    font-weight: bold;
}
.coloumn1 p img{
    position: relative;
    left: 0px;
    width:100px;}

.coloumn1 img{
    position: relative;
    left:34px;
    width:100px;
}

.coloumn1 img {
    opacity: 1;
}

.coloumn1 img:hover {
    opacity: 0.7;
}

.coloumn1 h1 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    
    color: black;
}

.coloumn2 {
    background-color: white;
    background-image: url(images/store.jpg);
    width: 500px;
    height: 300px;
    position: relative;
    left: 40px;
    top: 180px;
    border-radius: 8px;
    border: 2px solid black;
}


.coloumn2 p{
    position:absolute;
    left:250px;
    top: 10px;
    color: black;
    font-weight: bold;
}
.coloumn2 h1 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    color: black;
}
.coloumn2 p img{
    position: relative;
    left: 0px;
    width:100px;}

.coloumn2 img {
    opacity: 1;
}

.coloumn2 img:hover {
    opacity:0.7;
}

.coloumn4 {
    background-color: white;
    background-image: url(images/store.jpg);
    width: 500px;
    height: 300px;
    position: relative;
    left: 720px;
    top: -750px;
    border-radius: 8px;
    border: 2px solid black;
}

.coloumn4 img {
    opacity: 1;
}

.coloumn4 img:hover {
    opacity: 0.7;
}
.coloumn4 p img{
    position: relative;
    left: 0px;
    width:100px;}
.coloumn4 p{
        position:absolute;
        left:250px;
        top:-20px;
        color: black;
        font-weight: bold;
    }

.coloumn4 h1 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color:black;
}

.coloumn5 {
    background-color:white;
    background-image: url(images/store.jpg);
    width: 500px;
    height: 300px;
    position: relative;
    left: 720px;
    top: -740px;
    border-radius: 8px;
    border: 2px solid black;
}
.coloumn5 p{
    position:absolute;
    left:250px;
    top:-20px;
    color: black;
    font-weight: bold;
}
.coloumn5 p img{
    position: relative;
    left: 0px;
    width:100px;}
.coloumn5 img {
    opacity:1;
}

.coloumn5 img:hover {
    opacity:0.7;
}

.coloumn5 h1 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: black;
}

.coloumn6 {
    background-color: white;
    background-image: url(images/store.jpg);
    width: 500px;
    height: 300px;
    position: relative;
    left: 720px;
    top: -725px;
    border-radius: 8px;
    border: 2px solid black;

}
.coloumn6 p{
    position:absolute;
    left:250px;
    top:-20px;
    color: black;
    font-weight: bold;
}
.coloumn6 p img{
    position: relative;
    left: 0px;
    width:100px;}
.coloumn6 img {
    opacity: 1;
}

.coloumn6 img:hover {
    opacity: 0.7;
}

.coloumn6 h1 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: black;
}

.coloumn7 {
    background-color: white;
    background-image: url(images/store.jpg);
    width: 500px;
    height: 500px;
    position: relative;
    left: 1320px;
    top: -1650px;
    border-radius: 8px;
    border: 2px solid black;
}
.coloumn7 p img{
    position: relative;
    left: 0px;
    width:100px;
}

.coloumn7 img {
    opacity: 1;
}

.coloumn7 img:hover {
    opacity: 0.7;
}
.coloumn7 p{
    position:absolute;
    left:250px;
    top:-20px;
    color: black;
    font-weight: bold;
}
.coloumn7 h1 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color:black;
    position:relative;
    top: 120px;
}
.coloumn7 button{
    position: relative;
    top: 120px;
}

.coloumn8 {
    background-image: url(images/store.jpg);
    background-color: white;
    width: 500px;
    height: 400px;
    position: relative;
    left: 1320px;
    top: -1620px;
    border-radius: 8px;
    border: 2px solid black;
}

.coloumn8 img {
    opacity: 1;
}

.coloumn8 img:hover {
    opacity: 0.7;
}
.coloumn8 p img{
    position: relative;
    left: 0px;
    width:100px;
}
.coloumn8 p{
    position:absolute;
    left:250px;
    top:-20px;
    color: black;
    font-weight: bold;
}

.coloumn8 h1 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: black;
}
footer{
  
    width:2000px;
    height:500px;
    text-indent:50px;
    text-align:center;
    background-color: grey ;
    position:relative;
    top:-1250px;
    opacity:0.7;
    
 
    
    
 
 }
 .list ul{
    list-style-type:none;
 }
 .list ul li{
    display:flex;
    font-size: 20px;
 }
 .list ul li a{
    text-decoration: none;
    padding-top:50px;
    color: white;
 }
 
 .para p{
    font-size:30px;
    color: #fff;
    position: relative;
    top: -300px;
    left: 500px;
 
 }
 
 .para ul li{
    display:inline-block;
 }
 .para ul li a img{
    width:20px;
    height:20px;
    position:relative;
    top:-320px;
    left:450px;
    
 
 
 }
 .para1 p{
    font-size:30px;
    color: #fff;
    position: relative;
    top: -300px;
    left: 500px;
 
 }
 
 .para1 ul li{
    display:inline-block;
 }
 .para1 ul li a img{
    width:50px;
    height:50px;
    position:relative;
    top:-300px;
    left:490px;
    opacity: 0.5;
    
 
 
 }
 #border{
    position: relative;
    top:-720px;
    left: 480px;
 }
 #border h1{
    color: white;
 }
 #border p{
    color:white;
 }
 
 #call p{
    position: relative;
    top:-400px;
 }
 #last p{
    position: relative;
    top:-800px;
    color: #fff;
    left:-50px;
 }
.heading{
 color: #fff;
 font-size: 50px;
 position: relative;
 left: 600px;;
} 
.heading:hover{
color:red;
}
#sum{
    position: absolute;
    top:1400px;
    left:0px;
}